@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap");

.search-content {
    width: 200px;
    margin: auto;
    margin-bottom: 0;
    display: inline;
    padding: 20px;
    text-align: center;
}

.search, 
.value {
    display: inline-block;
    text-align: left;
}

input[type=text], select {
    width: 100%;
    padding: 7px 15px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/*** table ***/

.data-table,
.visual-table {
    overflow-y: auto;
    height: 300px;
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
}

.data-table thead th,
.visual-table thead th {
    position: sticky;
    top: 0;
    background-color: #009879;
    color: white;
    text-align: left;
    font-weight: bold;
}

table {
    border-collapse: collapse;
    width: 100%;
    /*margin: 0px auto;*/
    font-family: "Montserrat", sans-serif;
}

th, 
td {
    padding: 12px 8px;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

/*** buttons ***/
.bi {
    font-size: medium;
    color: white;
}

button {
    padding: 8px 20px;
    border-radius: 4px;
    border: none;
    background-color: rgb(21, 21, 151);
    color: white;
}

input[type=submit] {
    padding: 8px 20px;
    border-radius: 4px;
    border: none;
    background-color: rgb(21, 21, 151);
    color: white;
}

input[type=submit]:hover, button:hover {
    background-color: rgb(14, 14, 122);
}

.action {
    background-color: #009879;
    padding: 5px 7px;
}

a {
    color: white;
    text-decoration: none;
}