.data-table {
    overflow-y: auto;
    height: 150px;
    width: 90%;
}

.data-table thead th {
    position: sticky;
    top: 0;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px
}

.labels tr td {
	background-color: #2cc16a;
	font-weight: bold;
	color: #fff;
}

.label tr td label {
	display: block;
}

th, td {
    padding: 8px 16px;
    text-align: left;
    margin: 20px
}

.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #ccc;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

th {
    background: #eee;
}

.data-table, .data-table td {
    box-shadow: inset 1px -1px rgb(255, 255, 255);
}

.data-table th {
    box-shadow: inset 1px 1px rgb(255, 255, 255), 0 1px #000;
}





