.container {
    margin-top: 10px;
    margin-left: 10px;
}

.data-table {
    overflow-y: auto;
    margin: auto;
    width: 90%;
    height: 90%;
}

.data-table thead th {
    position: sticky;
    top: 0;
}

table {
    border-collapse: collapse;
    width: 99%;
    padding: 20px;
    margin: 10px;
}

th, td {
    padding: 8px 16px;
}

th {
    background: #eee;
}

.data-table, .data-table td {
    box-shadow: inset 1px -1px rgb(255, 255, 255);
}

.data-table th {
    box-shadow: inset 1px 1px rgb(255, 255, 255), 0 1px #000;
}





