.container {
    /*width: 1400px;
    height: 750;*/
    margin: auto;
    width: 85%;
    height: 30%;
}

/*th {
    font-size: 15px;
}*/

.visual {
    margin: auto;
}

table {
    border-collapse: collapse;
    width: 99%;
    padding: 10px;
    margin: 10px;
}

th, td {
    padding: 8px;
}

th {
    background: #eee;
}