@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap");

:root {
    --main-color: #0f2269;
    --secondary-color: #d5def7;
    --border-color: #8a91b8;

    --normal-font-size: 16px;
    --small-font-size: 12px;
}

body {
    background: #b6bde4;
    margin: 15px;
    margin-top: 150px;
    font-family: "Montserrat", sans-serif;
}

h1 {
    color: white;
    text-align: center;
}

.login-form,
.login-form * {
    box-sizing: border-box;
}

.login-form {
    max-width: 450px;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo-container {
    padding: 30px;
    background: var(--main-color);
}

.form-credentials {
    padding: 50px;
    background: var(--secondary-color);
}

.form-header {
    margin-bottom: 15px;
    font-size: var(--normal-font-size);
    text-align: center;
    color: var(--main-color);
}

/*** inputs **/
.form-div {
    position: relative;
    height: 48px;
    margin-bottom: 24px;
}

.form-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: var(--normal-font-size);
    border: 2px solid var(--border-color);
    border-radius: 8px;
    outline: none;
    padding: 16px;
    background: none;
    z-index: 1;
}

.form-label {
    position: absolute;
    left: 16px;
    top: 16px;
    padding: 0 4px;
    background-color: var(--secondary-color); 
    color: var(--border-color);
    font-size: var(--normal-font-size);
    transition: .3s;
}

/*input focus move label up*/
.form-input:focus + .form-label{
    top: -8px;
    left: 13px;
    color: var(--main-color);
    font-size: var(--small-font-size);
    font-weight: 500;
    z-index: 10;
}
  
/*input focus sticky top label*/
.form-input:not(:placeholder-shown).form-input:not(:focus)+ .form-label{
    top: -8px;
    left: 13px;
    font-size: var(--small-font-size);
    font-weight: 500;
    z-index: 10;
}
  
.form-input:focus{
    border: 2px solid var(--main-color);
}

/*** button ***/
.form-button {
    padding: 10px;
    background: var(--main-color);
    color: white; 
    font-weight: bold; 
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-button:hover {
    background: #071341;
}

.form-button:active {
    background: var(--main-color);
}


/*body {
    margin: 0;
    padding: 0;
	background: linear-gradient(to right, #b8c5ff, #fcb6d9);
    background: #b8c5ff;
    font-family: "Montserrat", sans-serif;
}
 
.container {
    border-radius: 5px;
    background-color: #191919;
    padding: 50px 100px 150px 100px;
    margin: 5% 25%;
}

h1 {
    font-size: 50px;
    text-align: center;
    color: white;
}

label {
    color: #6C757D;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0 25px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text]:hover, input[type=password]:hover {
    box-shadow: 0 0 5pt 0.5pt #D3D3D3;
}

input[type=submit] {
    width: 100px;
    background-color: rgb(225, 192, 255);
    color: black;
    padding: 14px 20px;
    margin: 8px auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    text-align: center;
}

input[type=submit]:hover {
    background-color: rgb(206, 162, 247);
}*/


