@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap");

.formtemplate {
	max-width: 400px;
	margin: 50px auto;
	border: solid 2px;
	border-radius: 4px;
	border-color: rgb(51, 51, 51);
	background-color: white;
	padding: 25px;
	font-family: "Montserrat", serif;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.formtemplate h1 {
	display: block;
	text-align: center;
	padding: 0;
	margin: 0px 0px 20px 0px;
	color: #5c5c5c;
	font-size: x-large;
}
.formtemplate ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.formtemplate li {
	display: block;
	padding: 9px;
	border: 1px solid #dddddd;
	margin-bottom: 30px;
	border-radius: 3px;
}
.formtemplate li:last-child {
	border: none;
	margin-bottom: 0px;
	text-align: center;
}
.formtemplate li > label {
	display: block;
	float: left;
	margin-top: -19px;
	background: #ffffff;
	height: 14px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 3px;
	color: rgb(117, 117, 117);
	font-size: 14px;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
}
.formtemplate input[type="text"],
.formtemplate input[type="date"],
.formtemplate input[type="datetime"],
.formtemplate input[type="email"],
.formtemplate input[type="number"],
.formtemplate input[type="search"],
.formtemplate input[type="time"],
.formtemplate input[type="url"],
.formtemplate input[type="password"],
.formtemplate textarea,
.formtemplate select {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	display: block;
	outline: none;
	border: none;
	height: 25px;
	line-height: 25px;
	font-size: 16px;
	padding: 0;
	font-family: "Montserrat", serif;
}
.formtemplate input[type="text"]:focus,
.formtemplate input[type="date"]:focus,
.formtemplate input[type="datetime"]:focus,
.formtemplate input[type="email"]:focus,
.formtemplate input[type="number"]:focus,
.formtemplate input[type="search"]:focus,
.formtemplate input[type="time"]:focus,
.formtemplate input[type="url"]:focus,
.formtemplate input[type="password"]:focus,
.formtemplate textarea:focus,
.formtemplate select:focus {
}
.formtemplate li > span {
	background: #f3f3f3;
	display: block;
	padding: 3px;
	margin: 0 -9px -9px -9px;
	text-align: center;
	color: #c0c0c0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.formtemplate textarea {
	resize: none;
}

/*.formtemplate input[type="submit"],
.formtemplate input[type="button"] {
	background: #2471ff;
	border: none;
	padding: 10px 20px 10px 20px;
	border-bottom: 3px solid #5994ff;
	border-radius: 3px;
	color: #d2e2ff;
}
.formtemplate input[type="submit"]:hover,
.formtemplate input[type="button"]:hover {
	background: #6b9fff;
	color: #fff;
}*/

input[type="submit"],
.cancel {
	background: #0f2269;
	border: none;
	padding: 10px 20px 10px 20px;
	border-radius: 3px;
	color: white;
}

input[type="submit"]:hover,
.cancel:hover {
	background: #0b1a4e;
	color: #fff;
}

a {
	text-decoration: none;
	color: white;
}

/* Hide all steps by default: */
.tab {
	display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #afafaf;
	border: none;
	border-radius: 50%;
	display: 0.65;
}

/* Mark the active step: */
.step.active {
	background-color: #70ac6e;
	opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
	background-color: #04aa6d;
}

.project-table {
	background-color: #b6b6b6;
	border: 1px solid whitesmoke;
	border-collapse: collapse;
	margin: 10px auto;
	font-size: 0.9em;
	min-width: 600px;
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.project-table h1 {
	font-family: "Montserrat", sans-serif;
	text-align: center;
}

.content-table thead tr {
	background-color: #000000;
	color: #ffffff;
	text-align: left;
}

.project-table th,
.project-table td {
	padding: 12px 15px;
}

.project-table tbody tr:nth-of-type(even) {
	background-color: #f7f7f7;
}

.centered {
	margin: 50px auto;
	text-align: center;
}
