<!DOCTYPE html>
<html th:fragment="layout_r (template)">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">    
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    
    <link rel="stylesheet" type="text/css" href="/stylesheets/navBar.css" /> 
</head>

<body>
    <navbar class="nav">
        <div class="logo-details">
            <div class="logo-name">BGC</div>
        </div>

        <ul class="nav-list">
            <li class="nav-item">
                <a th:href="@{/dashboard}">
                    <i class="bi bi-graph-up"></i> 
                    <p class="nav-item-label">Dashboard</p>
                </a>
            </li>

            <li class="nav-item">
                <a th:href="@{/employees}">
                    <i class="bi bi-people"></i>
                    <p class="nav-item-label">Employees</p>
                </a>
            </li>

            <li class="nav-item">
                <a th:href="@{/projects}">
                    <i class="bi bi-clipboard-data"></i>
                    <p class="nav-item-label">Projects</p>
                </a>
            </li>

            <li class="nav-item log-out">
                <a th:href="@{/login}">
                    <i class="bx bx-log-out" id="log_out" ></i>
                    <p class="nav-item-label">Log Out</p>
                </a>
            </li>
        </ul>
    </navbar> 

    <div th:replace="${template}"/>

</body>

