<!DOCTYPE html>
<html th:fragment="layout (template)">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/navBar.css" /> 
</head>

<body>
    <h1 class="logo">BGC Engineering</h1>
    <nav class="navbar">

        <div class="dropdown">
            <button class="dropbtn">Dashboard
                <i class="bi bi-caret-down-fill"></i>
            </button>

            <div class="dropdown-content">
                <a th:href="@{/dashboard}">Headcount</a>
                <a th:href="@{/dashboard/workload}">Workload</a>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn">Employees
                <i class="bi bi-caret-down-fill"></i>
            </button>

            <div class="dropdown-content">
                <a th:href="@{/employees/create}">Add New Profile</a>
                <a th:href="@{/employees}">View Profiles</a>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn">Projects
                <i class="bi bi-caret-down-fill"></i>
            </button>

            <div class="dropdown-content">
                <a th:href="@{/projects/create}">Add New Project</a>
                <a th:href="@{/projects}">View Projects</a>
            </div>
        </div>

        <div>
            <a th:href="@{/manager/create}">Add New Manager</a>
        </div>

        <div class="logout">
            <a th:href="@{/login}">Log Out</a>
        </div>
    </nav>
    <div th:replace="${template}"/>

</body>

