<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout_r :: layout_r (~{::header})}"></html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/allEmployees.css" />
    <title>Current Employees</title>
</head>

<header></header>

<body>
    <section class="home-section">
        <div class="text">Employees</div>

        <div class="search-content">
            <div class="search-form">
                <span class="form">  
                    <div class="search">
                        <label>Search by</label> 
                        <select name="filterBy" id="filterBy" required>
                        <option selected disabled value="">Select...</option>
                        <option value="name">Name</option>
                        <option value="position">Employee Type</option>
                        <option value="role">Role</option>
                        <option value="team">Team</option>
                        <option value="status">Hired</option>
                        <option value="startdate">Start Date</option>
                        <option value="enddate">End Date</option>
                        </select>
                    </div>
                            
                    <div class="value">
                        <label>Search value</label> <br/>
                        <input type="text" id="value">
                        <button class="clear" id="clearbtn">Clear</button>
                    </div>
                </span>  
            </div>
            
            <span class="add-employee">  
                <button class="add"><a th:href="@{/employees/create}">Add New Profile</a></button> 
            </span>    
        </div>

        <div class="data-table">
            <table id="myTable">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Employee Type</th>
                        <th>Role</th>
                        <th>Team</th>
                        <th>Hired</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="employee : ${employees}">
                        <td th:text="${employee.name}"></td>
                        <td th:text="${employee.position}"></td>
                        <td th:text="${employee.role}"></td>
                        <td th:text="${employee.team}"></td>
                        <td th:text="${employee.status}"></td>
                        <td th:text="${employee.start}"></td>
                        <td th:text="${employee.end}"></td>  
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- range input for visual -->
        <div class="input">
            <form action="#" method="post" th:action="@{/employees}" th:object="${range}">
                <div class="range-start">
                    <label>Start Date</label> <br/>
                    <input type="date" th:field="*{start}" th:attr="value = ${range.start}"> 
                </div>
                        
                <div class="range-end">
                    <label>End Date</label> <br/>
                    <input type="date" th:field="*{end}" th:attr="value = ${range.end}">
                </div>
                            
                <input type="submit" value="Apply">
            </form>
        </div>

        <div class="visual-table">
            <table id="tableVisual" class="visual">
                <thead>
                    <tr>
                        <th>Name/Resource</th>
                        <th:block th:each="d : ${listOfDates}">
                            <th th:text="${d}"></th>
                        </th:block>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="employee : ${empInRange}">
                        <td th:text="${employee.name}"></td>
                        <th:block th:each="ru : ${employee.rampUp}">
                            <td th:text="${ru}"></td>
                        </th:block>
                    </tr>
                </tbody>
            </table>
        </div>

    </section>


    <span>
        <button onclick="addColour()">Add Color!</button>
        <button onClick="window.location.reload();">Remove Color!</button>
    </span>
  
    <script>
        let attr = 7;
        let filterBy = document.getElementById("filterBy");  
        filterBy.addEventListener("click", getAttribute);

        let value = document.getElementById("value");
        value.addEventListener("keyup", getFilter);

        let clearButton = document.getElementById("clearbtn");
        clearButton.addEventListener("click", clear);

        function getAttribute() {
            let val = filterBy.value;
            //console.log(val);
            if (val == "name") {
                attr = 0;
            }
            else if (val == "position") {
                attr = 1;
            }
            else if (val == "role") {
                attr = 2;
            }
            else if (val == "team") {
                attr = 3;
            }
            else if (val == "status") {
                attr = 4;
            }
            else if (val == "startdate") {
                attr = 5;
            }
            else if (val == "enddate") {
                attr = 6;
            }
            else {
                attr = 7;    
            }
            //console.log(attr);
            filterBy.addEventListener("click", getFilter);
        }

        function getFilter() {
            if (attr == 7) {
                //alert("Please select a value to filter results.");
                return;
            }
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("value");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[attr];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                    } 
                    else {
                        tr[i].style.display = "none";
                    }
                }       
            }
        }

        function clear() {
            document.getElementById("value").value = "";
            getFilter();
        } 

        function addColour() {
            var td = document.querySelectorAll('td')
            for (let cell of td) {
                if (cell.innerHTML === '0.1'){
                    cell.style.backgroundColor = '#beb4cb'
                }
                if (cell.innerHTML === '0.25'){
                    cell.style.backgroundColor = '#9787ab'
                }
                if (cell.innerHTML === '0.5' || cell.innerHTML === '0.4'){
                    cell.style.backgroundColor = '#645478'
                    cell.style.color = '#e6e6e6'
                }
                if (cell.innerHTML === '0.875' || cell.innerHTML === '0.65' ){
                    cell.style.backgroundColor = '#3d344b'
                    cell.style.color = '#e6e6e6'
                }
            }
        }
    </script>

</body>

</html>


