<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::header})}"></html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.4.0/chart.min.js"></script>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"> -->
  <title>Dashboard</title>
</head>

<header></header>
  
<body>

    <div class="input">
        <form action="#" method="post" th:action="@{/dashboard}" th:object="${rangeEmpty}">
            <label>Start Date</label>
            <input type="date" th:field="*{start}" placeholder="yyyy-mm-dd"> <br>
        
            <label>End Date</label>
            <input type="date" th:field="*{end}" placeholder="yyyy-mm-dd"> <br>

            <input type="submit" value="Apply">
        </form>

    </div> 

    <div class = "container"> 
        <canvas id = "headcount"></canvas>
    </div>


</body>
</html>