<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::header})}"></html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.4.0/chart.min.js"></script>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"> -->
  <title>Dashboard</title>
</head>

<header></header>
  
<body>

  <div class = "container"> 
    <canvas id = "headcount"></canvas>
  </div>

  <script>
      let headcount = document.getElementById('headcount').getContext('2d');

      let myChart = new Chart(headcount, {
          //type of line we want to create
          type: 'line',

          //the data of our dataset
          data: {
              labels: ["April", "May", "June", "July", "August", "September", "October", "November"],
              datasets: [{
                  label: 'Headcount: Planning',
                  
                  data: [10, 50, 25, 70, 40],
                  backgroundColor:'orange',
                  borderColor: 'orange',
                  fill: false,
                  pointRadius: 5
              },

              {
                  label: 'Headcount: Confirmed',
                  data: [20,35,40,60,50],
                  backgroundColor:'blue',
                  borderColor: 'blue',
                  fill: false,
                  pointRadius: 5
              }]
          },
          options: {
              scales:{
                  yAxes:{
                      title: {
                          display: true,
                          text: "Headcount",
                          font: {
                              size: 25
                          },
                      }
                  },
                  xAxes:{
                      title: {
                          display: true,
                          text: "Date",
                          font: {
                              size: 25
                          }                      
                      }
                  }
              },
              plugins:{
                  legend:{
                      position: 'bottom',
                      labels:{
                          padding:50
                      }
                  },
                  title: {
                      display: true,
                      text: 'Headcount View',
                      font: {
                              size: 50
                      }
                  }
              }
          }
      });


  </script>


</body>
</html>