<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="google-signin-client_id" content="857298202446-ueki5o9kei1p78hbsumsb06n5l9rhcbc.apps.googleusercontent.com">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/login.css" />
    
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <title>Login</title>
</head>

<body>
    <form action="#" method="post" th:action="@{/login}" th:object="${user}" class="login-form">
        <div class="logo-container">
            <h1>BGC Engineering</h1>
        </div>

        <div class="form-credentials">
            <div class="form-header">Login to your account</div>

            <div class="form-div">
                <input type="text" class="form-input" name="uName" th:field="*{username}" placeholder=" " required >
                <label for="" class="form-label">Username</label>
            </div>


            <div class="form-div">
                <input type="password" class="form-input" name="pwd" th:field="*{password}" placeholder=" " required >
                <label for="" class="form-label">Password</label>
            </div>

            <input type="submit" class="form-button" value="Login">
        </div>
    </form>

    <!-- <div class="container">
        <h1>Login</h1>
        <form action="#" method="post" th:action="@{/login}" th:object="${user}" class="box">
            <div class="cred">
                <label for="uName">Username</label> <br>
                <input type="text" id="uName" th:field="*{username}" required > <br>
                
                <label for="pwd">Password</label> <br>
                <input type="password" id="pwd" th:field="*{password}" required > <br>
                
                <input type="submit" value="Login">
            </div>
        </form>
    </div> -->

    <!-- <span><div class="g-signin2"></div> <button onclick="signOut()">Sign out</button> </span>
    <script>
        function signOut() {
            gapi.auth2.getAuthInstance().signOut().then(function() {
            console.log('user signed out')
            })
        }
    </script> -->
    
</body>

</html>