<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::header})}"></html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <title>New Managers</title>
</head>

<header></header>

<body>

  <section class="home-section">
    <div class="text">Users</div>

      <form action="#" method="post" th:action="@{/manager/create}" th:object="${user}" class="formtemplate">
        <h1>Create a user</h1>
        <ul>
        <li>
          <label for="uName">Create Username</label> <br>
          <input type="text" id="uName" required th:field="*{username}"> <br>
        </li>

        <li>
          <label for="pwd">Create Password</label> <br>
          <input type="password" id="pwd" required th:field="*{password}"> <br>
        </li>
        <li>
          <label>Type of Access</label> 
          <select name="access" id="access">
              <optgroup th:field=*{access}>
                <option value="">Select...</option>
                  <option value="read">Read only</option>
                  <option value="edit">Edit</option>
              </optgroup>
          </select>
        </li>

        <li>
          <input type="submit" value="Submit">
          <button><a th:href="@{/manager/create}">Cancel</a></button>
        </li>
        </ul>
      </form>

      <table>

          <thead>
            <tr>
              <th>Name</th>
              <th>Type of Access</th>
            </tr>
          </thead>
    
          <tr th:each="manager : ${managers}">
              <td th:text="${manager.username}"></td>
              <td th:text="${manager.access}"></td>
    
              <!-- <td>
                <button><a>Edit</a></button>
              </td> -->

              <td>
                <button><a th:href="@{/manager/deleted?m_id={id}(id=${manager.getID()})}"><i class="bi bi-trash"></i>Delete</a></button>
              </td> 
          </tr>
      </table>
      
  </section>

</body>
</html>

