<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Manager</title>
</head>
<body>

    <form action="#" method="post" th:action="@{/manager/create}" th:object="${user}">
        <div class="cred">
            <label for="uName">New Username</label> <br>
            <input type="text" id="uName" th:field="*{username}" required> <br>

            <label for="pwd">New Password</label> <br>
            <input type="password" id="pwd" th:field="*{password}" required> <br>

            <div class="buttons">
                <input type="submit" value="Authenicate">
                <button class="cancel"><a th:href="@{/dashboard}">Cancel</a></button>
            </div>
        </div>
    </form>
    
</body>
</html>