<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::header})}"></html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Current Employees</title>
</head>

<header></header>

<body>
    <h1 class="heading">Employees</h1>
    <a th:href="@{/employees/metrics}">View metrics</a>
    <a th:href="@{/employees/create}">Add Employee Profile</a>
    
</body>

</html>

<h1>This page will display the list of employees</h1>

