<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::header})}"></html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/allEmployees.css" />
    <title>Current Employees</title>
</head>

<header></header>

<body>
    <a th:href="@{/employees/metrics}">View metrics</a>

    <div class="container">
      <form action="#" method="post" th:action="@{/employees}" th:object="${property}">
        <label>Search by</label> 
        <select name="filterBy" id="filterBy">
            <optgroup th:field=*{filterBy}>
              <option value="">Select...</option>
                <option value="name">Name</option>
                <option value="position">Employee Type</option>
                <option value="role">Role</option>
                <option value="team">Team</option>
                <option value="status">Hired</option>
                <option value="capacity">Capacity</option>
                <option value="startdate">Start Date</option>
                <option value="enddate">End Date</option>
            </optgroup>
        </select>

        <label>Search value</label>
        <input type="text" th:field="*{value}" id="value">

        <input type="submit" value="Search">
        <button class="cancel"><a th:href="@{/employees}">Unfilter</a></button>   
    </form>
  </div>
    
  <div class="data-table">
    <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Employee Type</th>
            <th>Role</th>
            <th>Team</th>
            <th>Hired</th>
            <th>Capacity</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
        	<tr th:each="employee : ${employees}">
            <td th:text="${employee.name}"></td>
            <td th:text="${employee.position}"></td>
            <td th:text="${employee.role}"></td>
            <td th:text="${employee.team}"></td>
            <td th:text="${employee.status}"></td>
            <td th:text="${employee.capacity}"></td>
            <td th:text="${employee.start}"></td>
            <td th:text="${employee.end}"></td>
            
            <td>
              <button><a th:href="@{/employees/edit?rid={id}(id = ${employee.getId()})}">Edit</a></button>
            </td>
            <td>
              <button><a th:href="@{/employees/deleted?e_id={id}(id=${employee.id})}"><i class="bi bi-trash"></i>Delete</a></button>
            </td>
			    </tr>
		
        </tbody>
    </table>
  </div>
  
  <script>
/*var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}

document.ready(function() {
	'[data-toggle="toggle"]'.change(function(){
		this.parents().next('.hide').toggle();
	});
}*/
</script>

</body>

</html>

