<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Profile</title>
</head>

<header>
	<h1 class="heading">Profile</h1>
</header>

<body>
    <form action="#" method="post" th:action="@{/employees/create}" th:object="${employee}">
        <label for="name">Name</label> <br>
        <input type="text" th:field=*{name} id="name"> <br>

        <label for="position">Select employee type</label>
        <select name="position" id="position">
            <optgroup th:field=*{position} label="position">
                <option value="permanent">Permanent Hire</option>
                <option value="intern">Co-op/Intern</option>
            </optgroup>
        </select>

        <label for="role">Role</label> <br>
        <input type="text" th:field=*{role} id="Role"> <br>

        <label for="team">Team</label> <br>
        <input type="text" th:field=*{team} id="Team"> <br>

        <label for="status">Employee status</label>
        <select name="status" id="status">
            <optgroup th:field=*{status} label="status">
                <option value="TRUE">Hired</option>
                <option value="FALSE">Projected</option>
            </optgroup>
        </select>
        
        <br>
        <label for="sDate">Start Date</label>
        <input type="text" id="sDate" placeholder="yyyy-mm-dd"> <br>

        <br>
        <label for="eDate">Co-op End Date</label>
        <input type="text" id="eDate" placeholder="yyyy-mm-dd"> <br>

        <input type="submit" value="Save">
    </form>

    <a th:href="@{/employees}">Back to Homepage</a>
</body>

<script>
    function myFunc(param) {
        console.log(param.value);
    }
</script>

</html>
