<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::header})}"></html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" /> 
		<title>Create New Profile</title>
	</head>

	<header></header>

	<body>
		<section class="home-section">
			<div class="text">Employees</div>

			<form action="#" method="post" th:action="@{/employees/create}" th:object="${employee}" class="formtemplate">
				<h1>Add Employee</h1>
				<br></br>
				<ul>
					<li>
						<label for="name">Name/Resource</label> <br />
						<input type="text" th:field="*{name}" id="name" required /> <br />
					</li>
					<li>
						<label>Select employee type</label>
						<select name="position" th:field="*{position}" id="position" required>
							<option value="">Select...</option>
							<option value="permanent">Permanent Hire</option>
							<option value="intern">Co-op/Intern</option>
						</select>
					</li>
					<br>
					<li>
						<label for="role">Role</label>
						<input type="text" th:field="*{role}" id="role" required /> <br />
					</li>
					<li>
						<label for="team">Team</label> 
						<input type="text" th:field="*{team}" id="team" required /> <br />
					</li>
					<li>
						<label for="status">Employee status</label>
						<select name="status" th:field="*{status}" id="status" required>
							<option value="">Select...</option>
							<option value="TRUE">Hired</option>
							<option value="FALSE">Projected</option>
						</select>
					</li>
					<br></br>
					<li>
						<label>Start Date</label>
						<input type="date" th:field="*{start}" placeholder="yyyy-mm-dd" required />
					</li>
					<br></br>
					<li>
						<label>End Date (Co-op/Intern)</label>
						<input type="date" th:field="*{end}" placeholder="yyyy-mm-dd" id="end" required />
					</li>
					<br></br>
					<li>
						<span>
							<input type="submit" value="Save" />
							<button class="cancel"><a th:href="@{/employees}">Cancel</a></button>
						</span>
					</li>
				</ul>
			</form>
		</section>

		<script>
			let status = document.getElementById("position");
			let end = document.getElementById("end");

			status.addEventListener("click", displayDate);

			function displayDate() {
				let val = status.value;
				//console.log(val);
				if (val == "permanent") {
					end.valueAsDate = new Date("2999-12-31");
				} else {
					end.valueAsDate = new Date("yyyy-mm-dd");
				}
			}
		</script>
	</body>
</html>
