<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Profile</title>
</head>

<header>
	<h1 class="heading">Profile</h1>
</header>

<body>
    <form action="#">
        <label for="name">Name</label> <br>
        <input type="text" id="name"> <br>

        <label for="role">Role</label> <br>
        <input type="text" id="Role"> <br>

        <label for="sDate">Start Date</label> <br>
        <input type="date" id="sDate"> <br>

        <section class="status">
            <input type="checkbox" id="p">
            <label for="p">Projected</label> 

            <input type="checkbox" id="hp">
            <label for="h">Hired</label> <br>
        </section>

        <section class="type">
            <input type="checkbox" id="ft">
            <label for="ft">Full-Time</label> 

            <input type="checkbox" id="pt">
            <label for="pt">Part-Time</label> 

            <input type="checkbox" id="coop">
            <label for="coop">Co-op</label> <br>
        </section>

        <section class="rampUp">
            <table>
                <tr>
                    <th><label for="w1">Week 1</label></th>
                    <th><label for="w2">Week 2</label></th>
                    <th><label for="w3">Week 3</label></th>
                    <th><label for="w4">Week 4</label></th>
                </tr>
                <tr>
                    <td><input type="number" id="w1" max="1" min="0"> </td>
                    <td><input type="number" id="w2" max="1" min="0"> </td>
                    <td><input type="number" id="w3" max="1" min="0"> </td>
                    <td><input type="number" id="w4" max="1" min="0"> </td>
                </tr>
            </table> 
        </section>

        <label for="eDate">Co-op End Date</label> <br>
        <input type="date" id="eDate"> <br>

        <input type="submit" value="Save">
    </form>
</body>

</html>
