<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::header})}"></html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/createEmployee.css" />
    <title>Edit New Profile</title> 
</head>

<header></header>

<body>
    <div class="container">
        <h1 class="heading">Profile</h1>
        <form action="#" method="post" th:action="@{/employees/edit}" th:object="${employee}">
            <label for="name">Name</label> <br>
            <input type="text" th:field=*{name} id="name" value="oof" autocomplete="off"> <br>

            <label>Select employee type</label>
            <select name="position" id="position">
                <optgroup th:field=*{position}>
                    <option value="">Select...</option>
                    <option value="permanent">Permanent Hire</option>
                    <option value="intern">Co-op/Intern</option>
                </optgroup>
            </select>

            <br><label for="role">Role</label> 
            <input type="text" th:field=*{role} id="role"> <br>

            <label for="team">Team</label> <br>
            <input type="text" th:field=*{team} id="team"> <br>

            <label for="status">Employee status</label>
            <select name="status" id="status">
                <optgroup th:field=*{status} label="status">
                    <option value="">Select...</option>
                    <option value="TRUE">Hired</option>
                    <option value="FALSE">Projected</option>
                </optgroup>
            </select>

            <br>
            <label>Start Date</label>
            <input type="date" th:field="*{start}" placeholder="yyyy-mm-dd"> <br>
        
            <br>
            <label>End Date (Co-op/Intern)</label>
            <input type="date" th:field="*{end}" placeholder="yyyy-mm-dd"> <br>

            <div class="buttons">
                <input type="submit" value="Save">
                <button class="cancel"><a th:href="@{/employees}">Cancel</a></button>
            </div>
        </form>
    </div>

    <a th:href="@{/employees}">Back to Homepage</a>
</body>

</html>
