<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.4.0/chart.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
   
    <title>Headcount View</title>
</head>
<body>


    <div class = "container"> 
        <canvas id = "headcount"></canvas>
    </div>

    


    <script th:inline="javascript">  
    

       
        // Date: y/m/d
        var now = new Date(2021, 8, 31);
        var daysOfYear = [];
        for (var d = new Date(2021, 7, 10); d <= now; d.setDate(d.getDate() + 7)) {
            //console.log(d.getDate());
            let x = d.getDate();
            let y = d.getMonth();
            let z = d.getFullYear();
            if (y < 10){
                y = "0" + y.toString();
            } 
            let abc = z + "-" + y + "-" + x;
            daysOfYear.push(abc);
        }
        let test = [];
        var theList = [[${employees}]]
        let test2 = [];
        
        
        for (i = 0; i < theList.length; i++) {
            test.push(theList[i].start);
            console.log(test[i]);
            
        }
        

        console.log("PRINTING TEST2");

        for (i = 0; i < daysOfYear.length; i++){
            test2.push(0);
            console.log(test2[i]);
        }
        console.log("LENGTH OF TEST 2 " + test2.length);

        for (i = 0; i < test.length; i++){
            for(j = 0; j < daysOfYear.length; j++){
                if (test[i] == daysOfYear[j]){
                    test2[j] += 1;
                    console.log("IM IN IF STATEMENT");
                }
            }
        }

        console.log("printing test 2 after adding");
        for (i = 0; i < test2.length; i++){
            console.log(test2[i]);
        }

        for (i = 0; i < test2.length; i++){
            if (i == 0){
                test2[0] = test2[0];
            }
            else{
                test2[i] = test2[i-1] + test2[i];
            }
            
        }

        /*
        console.log("TEST[0] " + test[0]);
        console.log("DAYSOFYEAR[0] " + daysOfYear[0]);
        if (test[0] == daysOfYear[0]){
            console.log("YAYYY");
            
        }
        console.log(typeof test[0]);
        console.log(typeof daysOfYear[0]);
        console.log("BELOW IS START DATE");
        console.log(theList[0].start);
        console.log(theList[0].role);
        */

        let headcount = document.getElementById('headcount').getContext('2d');

        let myChart = new Chart(headcount, {
            //type of line we want to create
            type: 'line',

             //the data of our dataset
            data: {
                labels: daysOfYear, //[jan 1, jan 7, jan 15, jan 22],
                datasets: [{
                    label: 'Headcount: Planning',
                    
                    data: [5, 12, 4, 8, 6],
                    backgroundColor:'orange',
                    borderColor: 'orange',
                    fill: false,
                    pointRadius: 5
                },

                {
                    label: 'Headcount: Confirmed',
                    data: test2,
                    backgroundColor:'blue',
                    borderColor: 'blue',
                    fill: false,
                    pointRadius: 5
                }]
            },
            options: {
                scales:{
                    yAxes:{
                        title: {
                            display: true,
                            text: "Headcount",
                            font: {
                                size: 25
                            },
                        }
                    },
                    xAxes:{
                        title: {
                            display: true,
                            text: "Date",
                            font: {
                                size: 25
                            }                      
                        }
                    }
                },
                plugins:{
                    legend:{
                        position: 'bottom',
                        labels:{
                            padding:50
                        }
                    },
                    title: {
                        display: true,
                        text: 'Headcount View',
                        font: {
                                size: 50
                        }
                    }
                }
            }
        });
    </script>

    
</body>
</html>