<!DOCTYPE html>

<html
	xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::header})}"
></html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			type="text/css"
			href="/stylesheets/allEmployees.css"
		/>
		<script type="text/javascript" th:src="@{/JS/viewProject.js}"></script>
		<title>View Project</title>
	</head>

	<header></header>

	<body>
		<section class="home-section">
			<div class="text">Projects</div>

			<div class="project-overview">
				<h2 th:text="${project.name}"></h2>
				<div>Start Date: <span th:text="${project.start}"></span></div>
				<div>End Date: <span th:text="${project.end}"></span></div>
				<button class="add">
					<a th:href="@{/projects}">Return to Projects</a>
				</button>
			</div>

			<!-- resources -->
			<div class="data-table">
				<table id="myTable">
					<thead>
						<tr id="table-header">
							<th>Name</th>
						</tr>
					</thead>

					<tbody>
						<tr></tr>
					</tbody>
				</table>
			</div>
		</section>

		<script th:inline="javascript">

			var res = [[${project.resources}]];
			console.log(res);
		</script>
	</body>
</html>
