<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::header})}"></html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
</head>

<header></header>

<body>
<!-- <div class="container">
        <form action="#" method="post" th:action="@{/projects}" th:object="${property}">
          <label>Search by</label> 
          <select name="filterBy" id="filterBy">
              <optgroup th:field=*{filterBy}>
                <option value="">Select...</option>
                  <option value="name">Name</option>
                  <option value="startdate">Start Date</option>
                  <option value="enddate">End Date</option>
              </optgroup>
          </select>
  
          <label>Search value</label>
          <input type="text" th:field="*{value}" id="value">
  
          <input type="submit" value="Search">
          <button class="cancel"><a th:href="@{/projects}">Unfilter</a></button>   
        </form>
    </div>
    
      
    <div class="data-table">
        <table id="myTable">
            <thead>
              <tr>
                <th>Name of Project</th>     
                <th>Start Date</th>
                <th>End Date</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
  
            <tbody>
              <tr th:each="project : ${projects}">
                <td th:text="${project.name}"></td>
                <td th:text="${project.start}"></td>
                <td th:text="${project.end}"></td>
                
                <td>
                  <button>View</button>
                </td>
                <td>
                  <button>Edit</button>
                </td>
                <td>
                  <button><a th:href="@{/projects/deleted?p_id={id}(id=${project.id})}"><i class="bi bi-trash"></i>Delete</a></button>
                </td>
              </tr>
        
            </tbody>
        </table>
    </div>
  -->
    
</body>
</html>